{
    "dbProfiles": [
        {
            "name": "local",
            "dbConfig": {
                "host": "localhost",
                "port": "3306",
                "user": "root",
                "schema": "my_table"
            }
        }
    ],
    "tableProfiles": [
        {
            "name": "default",
            "tables": [
                {
                    "name": "table_one"
                },
                {
                    "name": "table_two"
                }
            ]
        }
    ]
}
