{
    "dbconfig": {
        "host": "127.0.0.1",
        "port": "3306",
        "user": "root",
        "pass": "pass",
        "schema": "schema_name"
    },
    "tables": [
        {
            "name":"table_name"
        }
    ]
}
